@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Reset margin, padding, dan box-sizing untuk semua elemen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gaya umum untuk body */
body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #fef7ee;
}

/* Gaya untuk kontainer utama */
.main-container {
  width: 100%;
  height: 100vh;
  background-color: #111315;
  padding: 200px 100px;
}

/* Gaya untuk pembungkus gambar latar belakang */
.bg-wrapper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-img {
  width: 100%;
  height: 100%;
}

/* Gaya untuk bagian konten */
.contents {
  width: 100%;
  height: 100%;
  background-color: #1b1d1f;
  position: relative;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 120px 50px 120px;
  border-radius: 15px;
  z-index: 2;
}

.contents h1 {
  position: relative;
  z-index: 3;
  font-size: 2rem;
  margin-top: 60px;
}

.line-vector {
  position: absolute;
  z-index: 1;
}

/* Gaya untuk paragraf pengantar */
.intro {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #6f757c;
  position: relative;
  z-index: 3;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Gaya untuk tombol sortir */
.sort-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 3;
}

.sort-button button {
  color: #fef7ee;
  border: none;
  width: 90px;
  height: 35px;
  padding: 5px;
  border-radius: 15px;
}

.sort-button button:hover {
  cursor: pointer;
  border-radius: 15px;
}

/* Gaya untuk daftar kopi grid */
.coffee-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  row-gap: 80px;
  column-gap: 30px;
  margin-top: 100px;
  align-content: center;
  justify-items: center;
}

/* Gaya untuk item kopi individual */
.coffee {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coffee img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.popular-text {
  background-color: #f6c768;
  color: #1b1d1f;
  padding: 5px 10px;
  border-radius: 15px;
  position: absolute;
  margin: 10px auto 0 10px;
  font-size: 0.625rem;
}

/* Gaya untuk bagian nama dan harga */
.name-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name-price .price {
  background-color: #bee3cc;
  color: #111315;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
}

/* Gaya untuk bagian rating dan votes */
.rating-votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

.rating-votes p:nth-child(3) {
  font-size: 0.875rem;
  color: #6f757c;
}

.rating-votes .star-icon {
  width: 20px; /* Mengatur lebar gambar bintang */
  height: 20px; /*Mengatur tinggi gambar bintang */
}

.sold-out-text {
  color: #ed735d;
  margin-left: 90px;
}

/* Gaya responsif */

@media (max-width: 640px) {
  .main-container {
    padding: 0;
  }
  .contents {
    width: 100%;
  }
  .coffee-list {
    grid-template-columns: 1fr;
  }
  .coffee {
    width: 100%;
    height: auto;
  }
  .intro {
    width: 90%;
  }
}
/*
@media screen and (min-width: 640px) {
  .coffee-list {
    grid-template-columns: 1fr;
  }
  .coffee {
    width: 100%;
    height: auto;
  }
  .intro {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .coffee-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .coffee-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
*/
